@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > * {
  box-sizing: border-box;
}

main {
  padding: 3rem 2rem;
  min-height: calc(100vh - 4rem);
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: 'Roboto', sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none; 
}

@media screen and (max-width: 480px) {
  main {
    padding: 3rem 1rem;
  }
}

/* SMOOTH SCROLLING (IF user doesn't motion sensitivity preference) */

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}